#canvas {
  background-image:url(./bg.jpg);
  background-size: cover;
  z-index: 2;
}

button:focus {
  outline:none;
}
#canvas:focus {
  outline: none;
}
.gameboard {
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./snowcastle_final.PNG);
  background-size: cover;
  z-index:-3;
}
.status {
  height:500px;
  width:200px;
  display:flex;
  flex-direction: column;
  align-content: center;
  font-family: "Marck Script",cursive;
  background-image:url(./oldbook.jpeg);
  background-size: cover;
  border:5px solid #945921;
  border-left: none;
}
.stat-header {
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 10px;
  font-size: 32px;
  border-bottom: 3px solid black;
  height:8%;
}

#info {
  margin-top: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#info li {
  margin-bottom:10px;
  font-size: 20px;
  list-style: none;
}

.bookbind {
  height:515px;
  z-index: 1;
  width:40px;
  background-color: #945921;
  position: absolute;
}

.tutorial {
  margin-top: 20px;
  display:flex;
  justify-content: center;
  font-size: 28px;
  text-decoration: underline;
}

.tut-text {
  padding:0 20px;
  display:flex;
  justify-content: center;

}

.live-links {
  height:500px;
  width:200px;
  display:flex;
  flex-direction: column;
  align-content: center;
  font-family: "Marck Script",cursive;
  background-image:url(./oldbook.jpeg);
  background-size: cover;
  border:5px solid #945921;
  border-right:none;
  justify-content: flex-start;
}

#me-info {
  margin-top: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

#me-info li {
  font-size: 38px;
  margin-top:20px;

}

#me-info li a {
  text-decoration: none;
  color:inherit;
}

.me-header {
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 80px;
  font-size: 32px;
}

.game-start {
  height:500px;
  width:710px;
  background-color: white;
  position:absolute;
  z-index:3;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url("./oldbook.jpeg");
  background-size: cover;
}

.game-title {
  font-family: "Marck Script",cursive;
  font-size: 64px;
}

.start-btn {
  font-family: "Marck Script",cursive;
  background: none;
  /* box-sizing: none; */
  cursor:pointer;
  font-size: 48px;
  border-style: none;
  border:none;
}

.hide {
  display:none;
}

.game-over {
  height:500px;
  width:710px;
  font-family: "Marck Script",cursive;

  background-color: black;
  position:absolute;
  z-index:4;
  display:none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color:red;
  background-image: url("./oldbook.jpeg");
  background-size: cover;
}

.game-over-text {
  font-size:64px;
}

.end-score {
  font-size: 48px !important;
}

.retry-btn {
  font-family: "Marck Script",cursive;
  background: none;
  color: red;
  cursor:pointer;
  font-size: 48px;
  border-style: none;
  border:none;
}

.show {
  display:flex;
}

.title-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author{
  font-family: "Marck Script",cursive;
  font-size: 40px;
}

#attributed {
  font-size:18px;
  margin-top:60px;
}
